.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6eb;
  padding: 20px 20px;
  font-family: Arial, sans-serif;
}

.brand {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-size: 14px;
}

.divider {
  color: black;
}
