/* components/Sidebar.module.css */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.newProjectContainer {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-bottom: 20px;
}

.newProjectButton {
  width: 70%;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
}

.newProjectButton:hover {
  background-color: #34495e;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar li {
  padding: 0px 20px;
  height: 50px; /* Increase the height of each list item */
  display: flex;
  align-items: center; /* Vertically center the link inside */
  width: 100%; /* Ensure the list item occupies full width */
}

.sidebar li a {
  text-decoration: none;
  display: block;
  height: 100%; /* Ensure the anchor tag takes up the full height */
  width: 100%; /* Ensure the anchor tag takes up the full width */
  text-align: left; /* Center the text horizontally */
  align-items: center;
  line-height: 50px; /* Adjust line height to vertically center text */
}

/* Class to make the active link bold */
.selected a {
  font-weight: bold;
}
